<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<title><%= title %></title>
<link rel="stylesheet" href="amazeui.min.css" />
<link rel="stylesheet" href="pkunews.css" />
<link rel="stylesheet" href="weui.min.css" />
<script src="jquery.min.js"></script>
<script src="amazeui.min.js"></script>
<script src="jweixin-1.0.0.js"></script>

</head>
<body>
	<div class="pkunews_main">
		<div class="pkunews_head">
			<header data-am-widget="header" class="am-header am-header-red pkunews_head_block">
				<div style="text-align:center;color:#fff;font-family:Georgia;font-size:18px;font-weight:bold;">个人信息</div>
			</header>
		 </div>
		<div class = "pkunews_content" style="background-color:#ffffff;">
			<div class="am-u-sm-12" style="margin-top: 100px;">
				<div class="am-u-sm-7" style="height:180px;">
				    <% if(teacher){ %>
					<div style="padding:3px;"><span id="userId" name="userId"><%= teacher.teacherid %></span></div>
					<div style="padding:3px;"><span id="name" name="name"><%= teacher.name %></span></div>
					<div style="padding:3px;"><span id="gender" name="gender"><%= teacher.gender %></span></div>
					<div style="padding:3px;"><span id="title" name="title"><%= teacher.title %></span></div>
                    <div style="padding:3px;"><span id="telephone" name="telephone"><%= teacher.telephone %></span></div>
                    <div style="padding:3px;"><span id="mail" name="mail"><%= teacher.mail %></span></div>
                    <% }else{ %>
                    <small id="errMsg" style="color:#94070A">异常</small>
                    <% } %>
				</div>	
				<div class="am-u-sm-5" style="height:180px;">
					<%- img %>
				</div>
			</div>
	
		</div>		
	</div>

</body>
</html>